body{
    background:blue;
}
.Form-Container{
    background:white;
    width:500px;
    margin:auto;
    padding:20px;
    border-radius: 20px;
}
h1{
    text-align: center;
}
label{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
input,
select{
    width:100%;
    padding:10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.row{
    display:flex;
    gap:20px;
}
.box{
    flex:1;
}
button{
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.gender{
    margin-top: 10px;
}
.gender input{
    width:auto;
    margin-right: 5px;
}
.gender label{
    display:inline;
    margin-right:20px ;
}
button:hover{
    background-color: darkblue;
    cursor:pointer;
}
.address{
    margin-top:5px;
}
